<html ng-app="BikeParts">
  <head>
  <link href="all.css" rel="stylesheet">
 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	  <script src="app.js"></script>
	  <script src="controller.js"></script>

    <title>LMF_Now</title>
  </head>
  <body ng-controller='AppController'>
  <div class="container">
	<h1>LMF_Now (prototype)</h1>
	<div class="form-group">
	</div>
	 <ul class="part-list">
<!---	<li ng-repeat="result in hslbus">{{result.bus_number}}</li>
	<li ng-repeat="result in hsltime">{{result.start_time}}</li> --->
	<h2>Buses to Helsinki</h2>
	<li>{{hslbus[0].bus_number}} @ {{hsltime[0].start_time}}</li>
	<li>{{hslbus[1].bus_number}} @ {{hsltime[1].start_time}}</li>
	<li>{{hslbus[2].bus_number}} @ {{hsltime[2].start_time}}</li>
  </ul>
  </div>
  </body>
</html>
