<html ng-app="BikeParts">
  <head>
  <link href="all.css" rel="stylesheet">
 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	  <script src="app.js"></script>
	  <script src="controller.js"></script>

    <title>Bike parts filter</title>
  </head>
  <body ng-controller='AppController'>
  <div class="container">
	<h1>Used bike parts</h1>
	<div class="form-group">
    <input placeholder="Search" ng-model="search">
	</div>
	 <img id="spinner" ng-src="ajax-loader.gif" style="display:none;">
	 <ul class="part-list">
	<li ng-repeat="result in allresults">{{result.item.text}}</li>
	<li ng-repeat="result in hslbus">{{result.bus_number}}</li>

<!---
    <li ng-repeat="result in hsltime">
      {{result.start_time}}
    </li>
    <li ng-repeat="answer in hsl_time">{{answer.start_time}}@{{1+2}} </li>
    <li>{{hsl_time.collection2[1].bus_number}} and {{1+2}}</li>
     <li>{{hsl_bus.collection2[1].bus_number}}</li>
    <li>{{hsl_bus.collection2[1].bus_number}}</li> --->
  </ul>
  </div>
  </body>
</html>
