<html ng-app="BikeParts">
  <head>
  <link href="all.css" rel="stylesheet">
 
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
	  <script src="app.js"></script>
	  <script src="controller.js"></script>

    <title>LMF_Now</title>
  </head>
  
  <body ng-controller='AppController'>
  <div class="header-cont"><div class="header">
	<h2 style="text-align:center;font-size: 300%;"><b>LMF NOW</b><span style="float:right; font-size: 50%">{{display_date|date:'EEE'}}, {{display_date|date}}</span></h2>
  </div></div>
  <div class="container">
	<img id="spinner" ng-src="loader.gif" style="display:none;">
	 <ul class="part-list">
<!--	<li ng-repeat="result in hslbus">{{result.bus_number}}</li>
	<li ng-repeat="result in hsltime">{{result.start_time}}</li>  
	<h2>Buses to Helsinki</h2>
	<li>{{hslbus[0].bus_number}} @ {{hsltime[0].start_time}}</li>
	<li>{{hslbus[1].bus_number}} @ {{hsltime[1].start_time}}</li>
	<li>{{hslbus[2].bus_number}} @ {{hsltime[2].start_time}}</li> 
	<br>							     -->

	<table class="table table-striped">
	<th align="left" ng-click="showBusDetails = ! showBusDetails">Buses to Helsinki</th>
	<tr>
		<td ng-show="!showBusDetails">{{hslbus[0].bus_number}} @ {{hsltime[0].start_time}}</td>
	</tr>
	<tr>
		<td ng-show="!showBusDetails">{{hslbus[1].bus_number}} @ {{hsltime[1].start_time}}</td>
	</tr>
	<tr>
		<td ng-show="!showBusDetails">{{hslbus[2].bus_number}} @ {{hsltime[2].start_time}}</td>
	</tr>
	</table>

	<br>
	
	<table class="table table-striped" ng-click="ng-hide">
	<th align="left" ng-click="showWeatherDetails = ! showWeatherDetails">Weather</th>
	<tr>
		<td ng-show="!showWeatherDetails">{{((weather[0].temperature-32)*5.0)/9.0 | number:2}} C</td>
	</tr>
	</table>

	<br>

	<table class="table table-striped">
        <th align="left" ng-click="showSingleMenuDetails = ! showSingleMenuDetails">Today's menu</th>
	<tr ng-show="!showSingleMenuDetails && !$first" ng-repeat="result in antell_single_day_menu">
		<td ng-hide="result.menu==''">{{result.menu}}</td>
	</tr>
	</table>

	<br>
   
        <table class="table table-striped">
        <th align="left" ng-click="showFullMenuDetails = ! showFullMenuDetails">This week's menu</th>
	<tr ng-show="showFullMenuDetails" ng-repeat="result in antell_menu">
		<td ng-class="{bold:({{!((result.menu +'').length > 12)}})}" ng-hide="result.menu==''">{{result.menu}}</td>
	</tr>
	</table>
	
	<br>
	<a class="twitter-timeline" href="https://twitter.com/ericsson_fi" data-widget-id="532159601664225280">Tweets by @ericsson_fi</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(S)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(S);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<br>
	
	<iframe src="https://docs.google.com/forms/d/1bn1etnRmG8N6GR1apbrAmyGlTdJbIb8DOPzgOrH80es/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	
  </ul>
  </div>
  </body>
</html>
